/*
 * Reset Settings Keymap for Lily58
 * Dedicated firmware for resetting keyboard settings
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&bt BT_CLR_ALL &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &bt BT_CLR     &none         &none         &none         &none         &sys_reset
&bt BT_PRV     &bt BT_NXT    &none         &none         &none         &none             &none          &none         &none         &none         &none         &bootloader
&none          &none         &none         &none         &none         &none             &none          &none         &none         &none         &none         &none
                                           &none         &none         &none             &none          &none         &none
            >;
        };
    };
};